<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NGCH43</title>
    <%- include ('partials/head.html')%>
  </head>
  <body>
    <%- include ('partials/header.html')%>
    <main class="page-home container-fluid">
        <!-- Jumbotrom -->
        <div class="row">
          <div class="col-sm-12 p-0">
            <div class="image-landing bg-image">
              <img src="/img/image_jumbotron_1200x540.png" alt="Imagen de un programador con logos de las tecnologias conocidas">
              <div class="jumbotron content-header">
                <h1 class="py-4">NGCH43</h1>
                <p class="lead">
                  This page has been created to show the projects that I have
                  developed or am developing in this way to show my knowledge
                  and my way of working
                </p>
                <hr class="my-4" />
                <a
                  class="btn btn-primary btn-lg"
                  href="#title-projects"
                  role="button"
                >
                  See projects
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Features list  -->
        <div class="row">
          <div class="col-12">
            <h2 class="text-center my-5">¿Who am i?</h2>
          </div>
          <div class="col-md-4 col-sm-12">
            <img src="/img/icon_programacion.png" class="mx-auto d-block" width="50px" height="50px" alt="Programming icon">
            <h3 class="text-center mt-4">Lorem ipsum</h3>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla voluptatibus alias magnam ratione, soluta saepe illo est sit natus quod tempore hic at, culpa dicta dolorum possimus? Impedit, atque!</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img src="/img/icon_list.png" class="mx-auto d-block" width="50px" height="50px" alt="List icon">
            <h3 class="text-center mt-4">Lorem ipsum</h3>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla voluptatibus alias magnam ratione, soluta saepe illo est sit natus quod tempore hic at, culpa dicta dolorum possimus? Impedit, atque!</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img src="/img/icon_trabajo_grupo.png" class="mx-auto d-block" width="50px" height="50px" alt="Group work icon">
            <h3 class="text-center mt-4">Lorem ipsum</h3>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nulla voluptatibus alias magnam ratione, soluta saepe illo est sit natus quod tempore hic at, culpa dicta dolorum possimus? Impedit, atque!</p>
          </div>
        </div>
        </div>
        <!-- Featured project -->
        <div class="row">
          <div class="col-12">
            <h2 class="my-5 ml-3">
              Featured project
            </h2>
          </div>
          <!-- <div class="col-12">
            <div class="card-deck">
              <% projects.forEach(function(project){ %> <%- include
              ('partials/cartProject.html',{project})%> <% }); %>
            </div>
          </div> -->
        </div>
        <div class="row row-cols-1 row-cols-md-4">
          <% projects.forEach(function(project){ %>
              <div class="col mb-4">
                  <%- include('partials/cartProject.html',{project})%> 
              </div>
          <% }); %>
        </div>
    </main>
    <%- include ('partials/footer.html')%>
  </body>
</html>
