<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <%- include ('partials/head.html')%>
  </head>
  <body>
    <%- include ('partials/header.html')%>
    <main class="page-home container-fluid">
        <!-- Jumbotrom -->
        <div class="row">
          <div class="col-sm-12 p-0">
            <div class="image-landing bg-image">
              <img src="/img/background_jumbotron.svg" alt="Imagen de un programador con logos de las tecnologias conocidas">
              <div class="jumbotron content-header">
                <h1 class="py-4">NGCH43</h1>
                <p>
                  This page has been created to show the projects that I have
                  developed or am developing in this way to show my knowledge
                  and my way of working
                </p>
                <hr class="my-4" />
                <a
                  class="btn btn-primary btn-lg"
                  href="/projects"
                  role="button"
                >
                  See projects
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Features list  -->
        <div class="row block-what-i-do">
          <div class="col-12">
            <h2 class="text-center">¿What i do?</h2>
          </div>
          <div class="col-md-4 col-sm-12">
            <!-- <img src="/img/icon_programacion.png" class="mx-auto d-block" width="50px" height="50px" alt="Programming icon"> -->
            <h3 class="text-center mt-4">Education</h3>
            <ul class="list list-education">
              <li>
                <span>Web developer</span><br>
                <span>Instituto Pedralbes, Barcelona(España)</span><br>
                <span>9/18 - 06/20</span>
              </li>
              <li>
                <span>Docker for developers</span><br>
                <span>OpenWebinars, Barcelona(España)</span><br>
                <span>5/20 - 5/20</span><br>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <!-- <img src="/img/icon_list.png" class="mx-auto d-block" width="50px" height="50px" alt="List icon"> -->
            <h3 class="text-center mt-4">Experience</h3>
            <ul class="list list-experience">
              <li>
                <span>Web developer</span><br>
                <span>Deideasmarketing, Barcelona(España)</span><br>
                <span>07/20 - 09/20</span>
              </li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <!-- <img src="/img/icon_trabajo_grupo.png" class="mx-auto d-block" width="50px" height="50px" alt="Group work icon"> -->
            <h3 class="text-center mt-4">Skills & Tools</h3>
            <ul class="list list-skills">  
              <li>
                <span list-id="FrontEnd" class="block-list-toggle">FrontEnd <i class="fas fa-caret-up"></i></span>
                <ul id="FrontEnd" class="block-list" init_state="visible">
                  <li>Html</li>
                  <li>Css</li>
                  <li>JavaScript</li>
                  <li>Sass</li>
                  <li>WebPack</li>
                  <li>Gulp</li>
                </ul>
              </li>
              <li>
                <span list-id="BackEnd" class="block-list-toggle">BackEnd <i class="fas fa-caret-down"></i></span>
                <ul id="BackEnd" class="block-list" init_state="hidden">
                  <li>Sistemas Linux</li>
                  <li>Apache</li>
                  <li>Nginx</li>
                  <li>Php</li>
                  <li>NodeJs - Express</li>
                  <li>MySql</li>
                  <li>MongoDB</li>
                  <li>Docker</li>
                </ul>
              </li>
              <li>
                <span list-id="Graphic-Design" class="block-list-toggle">Graphic design <i class="fas fa-caret-down"></i></span>
                <ul id="Graphic-Design" class="block-list">
                  <li>Figma - Mockup and prototyping</li>
                  <li>Gimp</li>
                </ul>
              </li>
              <li>
                <span list-id="Frameworks" class="block-list-toggle">Frameworks <i class="fas fa-caret-down"></i></span>
                <ul id="Frameworks" class="block-list">
                  <li>Symfony</li>
                  <li>Angular</li>
                  <li>Vue</li>
                </ul>
              </li>
              <li>
                <span list-id="CMD" class="block-list-toggle">CMD <i class="fas fa-caret-down"></i></span>
                <ul id="CMD" class="block-list">
                  <li>WordPress</li>
                  <li>Prestashop</li>
                </ul>
              </li>
              <li>
                <span list-id="Development-Tools" class="block-list-toggle">Development tools <i class="fas fa-caret-down"></i></span>
                <ul id="Development-Tools" class="block-list">
                  <li>Git</li>
                  <li>Jira</li>
                  <li>Docker Hub</li>
                  <li>GitHub</li>
                  <li>Vercel - Now</li>
                  <li>Heroku</li>
                  <li>AWS</li>
                </ul>
              </li>
              
            </ul>
          </div>
        </div>
        </div>
        <!-- Featured project -->
        <div class="row">
          <div class="col-12">
            <h2 class="my-5 ml-3">
              Featured project
            </h2>
          </div>
          <div class="col-12 p-0">
            <div class="card-deck-projects">
              <% projects.forEach(function(project){ %> <%- include
              ('partials/cartProject.html',{project})%> <% }); %>
            </div>
          </div>
        </div>
        <!-- <div class="row row-cols-1 row-cols-md-4">
          <% projects.forEach(function(project){ %>
              <div class="col mb-4">
                  <%- include('partials/cartProject.html',{project})%> 
              </div>
          <% }); %>
        </div> -->
        <% if (auth) { %>
          <%- include ('partials/controlAdmin.html')%>
        <% } %>
        
    </main>
    <%- include ('partials/footer.html')%>
  </body>
</html>
