<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include ('partials/head.html')%>
  </head>
  <body>
    <%- include ('partials/header.html')%>
    <main>
      <div class="container-fluid">
        <div class="cont-landing-img row py-5">
          <div class="col-sm d-flex justify-content-center">
            <img
              src="./img/logo_bootstrap.png"
              alt="Technology used logo"
              class="img_logo"
            />
            <img
              src="./img/logo_css.png"
              alt="Technology used logo"
              class="img_logo"
            />
            <img
              src="./img/logo_html.png"
              alt="Technology used logo"
              class="img_logo"
            />
            <img
              src="./img/logo_js.png"
              alt="Technology used logo"
              class="img_logo"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm p-0">
            <div class="cont-info">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolorum modi reprehenderit laboriosam. Ipsam aliquam vero magnam
                dolores iure quasi, cum, temporibus molestiae doloribus
                necessitatibus inventore, harum vitae et odit ducimus.
              </p>
            </div>
          </div>
          <div class="col-sm p-0">
            <img
              src="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1566492620/content-items/003/212/919/2-original.png?1566492620"
              alt="Imagen del landing"
              class="w-100"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2 class="mt-3 mb-2">
              Last projects
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <div class="card-deck">
              <%- include ('partials/cartProject.html', {project:
                {title:"Project title", gitHub:"/" }})%>
              <%- include ('partials/cartProject.html', {project:
                {title:"Project title", gitHub:"/" }})%>
              <%- include ('partials/cartProject.html', {project:
                {title:"Project title", gitHub:"/" }})%>
              <%- include ('partials/cartProject.html', {project:
                {title:"Project title", gitHub:"/" }})%>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include ('partials/footer.html')%>
  </body>
</html>
