<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="NGCH43, Neil Gutierrez Chacon">
    <%- include ('partials/head.html')%>
    <title><%= post.title  %> | NGCH43 </title>
  </head>
  <body>
    <%- include ('partials/header.html')%>
    <main class="container page-single-post">
          
      <div class="row mt-5">
        <div class="col-12 block-title">
          <!-- Title -->
          <h1 class="mt-0 text-center"><%= post.title %></h1>
        </div>
        <div class="col-12 block-info-header">
          <a class="info-date">
            <%=
            `${post.updateDate.getDate()}/${post.updateDate.getMonth()+1}/${post.updateDate.getFullYear()}`
            %>
          </a>
        </div>
        <div class="col-12 mt-3 block-content">
          <!-- Post content -->
          <div class="delta content" value="<%= post.content %>">
            
          </div>
        </div>
      </div>
      <% if (auth) { %>
        <%- include ('partials/controlAdmin.html')%>
      <% } %>
    </main>
  </body>
  <%- include ('partials/footer.html')%>
</html>
