<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include ('partials/head.html')%>
  </head>
  <body>
    <%- include ('partials/header.html')%>
    <main>
      <div class="container">
        <!-- Title -->
        <div class="row mt-5">
          <div class="col-12 d-flex justify-content-between">
            <h1 class="mt-0"><%= project.title %></h1>
            <span>0 day Ago</span>
          </div>
        </div>
        <!-- Links -->
        <div class="row">
          <div class="col-12 d-flex flex-column">
            <a href="<%= project.github %>" class="text-info">GitHub</a>
            <a href="<%= project.website %>" class="text-info">WebSite</a>
          </div>
        </div>
        <!-- Sort description -->
        <div class="row mt-5">
          <div class="col-12">
            <p>
              <%= project.description %>
            </p>
          </div>
        </div>
        <!-- Large description (Developing) -->
        <div class="row">
          <div class="col-12">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi,
              ullam! Vero, accusantium libero quam amet minima quibusdam
              similique. Iusto cum autem officiis eveniet soluta commodi?
              Voluptas ducimus explicabo reiciendis molestiae? Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Nisi, doloremque ea. Autem,
              veniam qui necessitatibus, eius recusandae, ipsam quo eligendi
              facilis quaerat tempore asperiores porro pariatur quas cum
              voluptas id? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Consectetur soluta, autem nesciunt vitae debitis placeat
              dolorem ullam culpa labore minus suscipit nulla? Magnam sequi
              voluptates deserunt aperiam maxime harum a.
            </p>
          </div>
        </div>
        <!-- Images carrusel -->
        <div class="row d-flex justify-content-center">
          <div class="prev">
            <i class="fas fa-arrow-circle-left"></i>
          </div>
          <div class="col-10">
            <div class="images-project">
              <img src="/img/img_not_found.png" alt="Imagen del proyecto" />
              <img src="/img/img_not_found.png" alt="Imagen del proyecto" />
              <img src="/img/img_not_found.png" alt="Imagen del proyecto" />
              <img src="/img/img_not_found.png" alt="Imagen del proyecto" />
              <!-- Falta implementar las imagenes generadas dinamicamente ya que no tenemos un array de imagenes en el esquema de la base de datos -->
            </div>
          </div>
          <div class="next">
            <i class="fas fa-arrow-circle-right"></i>
          </div>
        </div>
      </div>
    </main>
  </body>
  <%- include ('partials/footer.html')%>
</html>
