<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= project.title %></title>
    <%- include ('partials/head.html')%>
  </head>
  <body>
    <%- include ('partials/header.html')%>
    <main class="container page-single-project">
      <!-- Title -->
      <div class="row mt-5">
        <div class="col-12 block-title">
          <h1 class="mt-0 text-center"><%= project.title %></h1>
        </div>
      </div>
      <!-- Links -->
      <div class="row">
        <div class="col-12 block-info-header">
          <div class="info-links">
            <a href="<%= project.github %>" class="text-info link">GitHub</a>
            <a href="<%= project.website %>" class="text-info link">WebSite</a>
          </div>
          <a class="info-date">
            <%=
            `${project.updateDate.getDate()}/${project.updateDate.getMonth()+1}/${project.updateDate.getFullYear()}`
            %>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <div class="delta" value="<%= project.content %>">
    
          </div>
        </div>
      </div>
      <!-- Images carrusel -->
      <div class="swiper-container" type-slider="3D-coverflow">
        <div class="swiper-wrapper">
          <% project.imgs.forEach(function(img){ %>
          <img src="<%= img %>" alt="Image project" class="swiper-slide" />
          <% }); %>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </main>
  </body>
  <%- include ('partials/footer.html')%>
</html>
