<div
  class="card"
  style="max-width: 18rem;"
  onclick="view.eventSeeProjectDetail('<%= project.id %>')"
>
  <img
    src="<%= project.imgs[0] %>"
    class="card-img-top"
    alt="Image of the project"
  />
  <div class="card-body">
    <h4 class="card-title"><%= project.title %></h4>

    <h6 class="card-subtitle mb-2 text-muted">
      Update:<%=
      `${project.updateDate.getDate()}/${project.updateDate.getMonth()+1}/${project.updateDate.getFullYear()}`
      %>
    </h6>
    <a href="<%= project.github %>" class="card-link text-info">GitHub</a>
    <a href="<%= project.website %>" class="card-link text-info">WebSite</a>

    <p class="card-text">
      <%= project.description %>
    </p>
  </div>
</div>
