<div class="card" style="max-width: 18rem;">
  <img
    src="/img/img_not_found.png"
    class="card-img-top"
    alt="Image of the project"
  />
  <div class="card-body">
    <h4 class="card-title"><%= project.title %></h4>

    <h6 class="card-subtitle mb-2 text-muted">Update:1 day ago</h6>
    <a href="<%= project.gitHub %>" class="card-link text-info">GitHub</a>
    <a href="#" class="card-link text-info">WebSite</a>

    <p class="card-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quibusdam
      ad nulla quisquam error labore perferendis, tempore ratione nam iure alias
      asperiores velit culpa rerum voluptate dolor, accusamus iusto
      voluptatibus.
    </p>
  </div>
</div>
