<footer>
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-sm-4">
        <h4>About ngch43</h4>
        <tr></tr>
        <p>
          This page has been created to show the projects that I have developed
          or am developing in this way to show my knowledge and my way of
          working
        </p>
      </div>
      <div class="col-sm-4 pr-0">
        <!-- Lista de documentacion sobre la pagina -->
        <h4>Site</h4>
        <ul>
          <li><a href="/Cookies">Cookies</a></li>
          <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
          <li><a href="/Contact">Contact</a></li>
          <li><a href="/UserManual">User manual</a></li>
          <li><a href="/LegalNotice">Legal notice</a></li>
        </ul>
      </div>
      <div class="col-sm-4 p-0">
        <h3 class="pb-3">Social</h3>
        <div class="row d-flex justify-content-between px-3">
          <a href="https://www.facebook.com/">
            <i class="fab fa-facebook fa-4x"></i>
          </a>
          <a href="https://github.com/NeilGutierrezChacon">
            <i class="fab fa-github fa-4x"></i>
          </a>

          <a href="https://www.linkedin.com/in/ngch43">
            <i class="fab fa-linkedin-in fa-4x"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"
></script>

<!-- AXIOS -->ç
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<!-- JS MINE -->
<script src="/js/main.js"></script>
