<footer>
  <div class="container-fluid p-5">
    <div class="row">
      <div class="col-5 d-flex justify-content-center">
        <!-- Lista de documentacion sobre la pagina -->
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Sobre ngch43</li>
          <li class="list-group-item">Contacto</li>
          <li class="list-group-item">Cookies</li>
        </ul>
      </div>
      <div class="col">
        <!-- Descripcion del contenido de la pagina -->
        <!-- <h3>Contenido</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugit placeat cupiditate rerum sed nulla, commodi molestiae dolores ut, aspernatur sit modi iste. Repudiandae et, consequuntur sunt distinctio illum placeat.</p> -->
        <!-- Mis redes sociales -->
        <!-- <h3>Social</h3>
        <div>
        </div> -->
        <div class="jumbotron-fluid">
          <h1 class="display-6">Contenido</h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, ducimus dolor. Magni doloremque voluptate dolor dolores quis sint voluptatum est, officiis voluptatem sapiente corrupti perferendis distinctio cupiditate omnis aliquam magnam.
          </p>
          <hr class="my-4">
          <h2 class="display-6">Social</h2>
          <div>

          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"
></script>
