<header>
  <nav id="nav-menu" class="navbar navbar-expand-lg navbar-dark py-2">
    <a class="navbar-brand" href="/">
      <img
        class="img_logo"
        src="/img/logo_ngch43_blanco_200x200.png"
        alt="Logo de ngch43"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li id="adminMenu" class="nav-item dropdown" style="display: none;">
          <a
            class="nav-link dropdown-toggle"
            href="/admin"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/my-profile">My profile</a>
            <a class="dropdown-item" href="/admin/manage-projects">Manage projects</a>
            <a class="dropdown-item" href="/admin/add-project">Add project</a>
            <a class="dropdown-item" href="/admin/save-post">Add post</a>
            <div class="dropdown-divider"></div>
            <form action="/sign-out" method="GET">
              <button class="dropdown-item" type="submit">Sign out</button>
            </form>
            
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
