<div class="swiper-container">
    <div class="swiper-wrapper">
        <% posts.docs.forEach(function(post){ %>
            <div class="swiper-slide">
                <img src="/img/img_not_found.png" alt="Featured image of the post">
                <span class="date"><%= `${post.updateDate.getDay()}/${post.updateDate.getMonth()}/${post.updateDate.getFullYear()}` %></span>
                <h6 class="text-center">
                    <a href="/blog/post/<%= post.id %>">
                        <%= post.title %>
                    </a>
                </h6>
            </div>
        <% }); %>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>