<div class="post-most-seen"
>
  <a href="/blog/post/<%= post.id %>">
    <img width="110" height="110" src="/img/img_not_found.png" alt="Provisional image">
  </a>
  
  <div class = "cont-text">
    <a href="/blog/post/<%= post.id %>">
      <div id='delta-<%= post.id %>' class="post-content delta delta-summary" value="<%= post.content %>"></div>
    </a>
    <span class="date"><%= `${post.updateDate.getDay()}/${post.updateDate.getMonth()}/${post.updateDate.getFullYear()}` %></span>
  </div>
</div>
