<div class="post"
  onclick="view.eventSeePostDetail('<%= post.id %>')"
>
  <div class = "post_cont_text">
    <h2 class="display-7">
      <%= post.title %>
    </h2>
    <span class="date"><%= `${post.updateDate.getDay()}/${post.updateDate.getMonth()}/${post.updateDate.getFullYear()}` %></span>
    <div id='delta-<%= post.id %>' class="post-content delta delta-summary" value="<%= post.content %>">
      
    </div>
  </div>
  <div class = "post_cont_image">
    <img class = "post_image" src="/img/img_not_found.png" alt="Provisional image">
  </div>
  

</div>
