<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include ('../partials/head.html')%>
  </head>
  <body>
    <%- include ('../partials/header.html')%>
    <main>
      <div class="container">
        <!-- Formulario de mensaje directo -->
        <div class="row d-flex justify-content-center mt-5">
          <div class="col-sm-12">
            <h3>Edit project</h3>
          </div>
        </div>
        <form class="w-50 mx-auto" action="/AdminEditProject" method="POST">
          <div class="form-row">
            <div class="col-sm-12 col-md-10">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="projectId"
                  id="inputProjectId"
                  value="<%= project.id %>"
                  style="display: none;"
                />
              </div>
              <div class="form-group">
                <label for="inputTitle">Title</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="inputTitle"
                  value="<%= project.title %>"
                />
              </div>
              <div class="form-group">
                <label for="inputUrlGitHub">Link GitHub</label>
                <input
                  type="url"
                  name="github"
                  id="inputUrlGitHub"
                  placeholder="https://github.com"
                  pattern="https://.*"
                  class="form-control"
                  value="<%= project.github %>"
                />
              </div>
              <div class="form-group">
                <label for="inputUrlWebSite">Link WebSite</label>
                <input
                  type="url"
                  name="website"
                  id="inputUrlWebSite"
                  placeholder="https://website.com"
                  pattern="https://.*"
                  class="form-control"
                  value="<%= project.website %>"
                />
              </div>
            </div>
            <!-- <div
              class="col-sm-12 col-md-2 d-flex justify-content-center align-items-center"
            >
              <div class="form-group">
                <label for="inputImage">
                  <img
                    src="/img/input_image.svg"
                    alt="Selecciones una imagen"
                    width="48"
                    height="48"
                  />
                </label>
                <input
                  id="inputImage"
                  name="images"
                  type="file"
                  accept="image/*"
                  style="display: none;"
                  multiple
                />
              </div>
            </div> -->
          </div>
          <!-- Input with a preview of images -->
          <%- include ('../partials/inputImages.html',{imgs:project.imgs}) %>
          <div class="form-group">
            <label for="inputDescription">Descriptión</label>
            <textarea
              class="form-control"
              id="inputDescription"
              name="description"
              rows="7"
              
            ><%= project.description %></textarea>
          </div>
          <div class="form-row">
            <button
              type="submit"
              id="updateProject"
              class="btn btn-primary mx-auto"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
  <%- include ('../partials/footer.html')%>
</html>
