<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>Add post | NGCH43</title>
    <%- include ('../partials/head.html')%>
  </head>
  <body>
    <%- include ('../partials/header.html')%>
    <main class="container admin page-add-post">
      <div class="row mt-5">
        <div class="col-sm-12">
          <h3>Edit post</h3>
        </div>
        <section class="col-md-10 col-sm-12">
          <form
            class="form-quill"
            action="/admin/manage-posts/<%= post.id %>/edit"
            method="POST"
            enctype="multipart/form-data" 
          >
            <div class="mb-3">
                <!-- Title post -->
                <label for="inputTitle">Title</label>
                <input
                  type="text"
                  class=" form-control"
                  name="title"
                  id="inputTitle"
                  value="<%= post.title %>"
                />
            </div>
            <!-- Image Outstanding image -->
            <div class="form-group">
              <label for="outstanding-image">Outstanding image</label>
              <input 
                type="file" 
                accept="image/*" 
                name="outstandingImage" 
                id="outstanding-image"
              >
            </div>
            <!-- Text Editor -->
            <div class="form-group">
              <label for="content">Description</label>
              <input id="content" name="content" type="hidden">
              <div id="scrollingContainer">
                <div id="editor" class="editor load-delta" value="<%= post.content %>">
                </div>
              </div>
            </div>
            
            <button type="submit" class="btn btn-primary mx-auto mt-3">
              Save
            </button>
          </form>
        </section>
        <section class="col-md-2 col-sm-12 d-none d-md-block">
          <div class="row">
            <button type="submit" class="btn btn-primary mx-auto">
              Save
            </button>
          </div>
        </section>
      </div>
      <% if (auth) { %>
        <%- include ('../partials/controlAdmin.html')%>
      <% } %>  
    </main>
  </body>
  <%- include ('../partials/footer.html')%>
</html>
