<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include ('../partials/head.html')%>
  </head>
  <body>
    <%- include ('../partials/header.html')%>
    <main class="container admin page-add-post">
      <div class="row row-main">
        <section class="col-md-10 col-sm-12">
          <div class="row mb-3">
            <div class="col">
              <h3>Add post</h3>
            </div>
          </div>
          <form id="form-add-post">
            <div class="mb-3">
                <!-- ID post -->
                <input type="hidden" class="process-form" name="id" value="<%= post.id %>">

                <!-- Title post -->
                <label for="inputTitle">Title</label>
                <input
                  type="text"
                  class=" form-control process-form"
                  name="title"
                  id="inputTitle"
                  value="<%= post.title %>"
                />
            </div>
            <!-- Text Editor -->
            <div name="content" class="editor process-form load-delta" id="editor" value="<%= post.content %>">
            </div>
            
            <button type="button" id-form="form-add-post" class="btn-save btn btn-primary mx-auto mt-3">
              Save
            </button>
          </form>
        </section>
        <section class="col-md-2 col-sm-12 d-none d-md-block">
          <div class="row">
            <button type="button" id-form="form-add-post" class="btn-save btn btn-primary mx-auto">
              Save
            </button>
          </div>
        </section>
      </div>
        
    </main>
  </body>
  <%- include ('../partials/footer.html')%>
</html>
