<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <%- include ('../partials/head.html')%>
  </head>
  <body>
    <%- include ('../partials/header.html')%>
    <main class="container page-error-500">
      <div class="row row-main">
          <div class="col-12 text-center">
              <h1>404</h1>
              <p>URL: <%= url %>, Not Found  </p>
          </div>
      </div>
      <% if (auth) { %>
        <%- include ('partials/controlAdmin.html')%>
      <% } %>
    </main>
    <%- include ('../partials/footer.html')%>
  </body>
</html>
