/* CSS Main */
/* Specify all the css of the web site */

$primary-color: #042145;
$secondary-color:#020C1A;

body {
    position: relative;
    min-height: 100vh;
    & header {
        position: fixed;
        width: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        & .img_logo {
            width: 4em;
            height: 4em;
        }
    }
    & main {
        min-height: 45em;
        width: 100%;
        padding-top: 6.9em;
        margin-bottom: 3em;
    }
    & footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        background-color: #042145;
        padding: 3rem 0;
        /* margin-top: 1em; */
        color: white;
        & h4{
            color: white;
        }
        & ul {
            list-style: none;
            padding: 0px;

            li{
                font-size: 1.1em;
                font-weight: bold;
            }
        }
        & p {
            font-size: 1.1em;
            font-weight: bold;
        }
        & a {
            text-decoration: none;
            color: white;
        }
        & .message{
            width: 100%;
            font-size: 1.8em;
            margin-bottom: 1em;
            @media (min-width: 576px) {
                font-size: 2.6em;
            }
        }
        & .social{
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        & .footer-menu{
            padding: 0 1.8em;
        
            & h4{
                display: none;
                @media (min-width: 576px) {
                    display: block;
                }
            }
            & ul{
                display: flex;
                justify-content: space-around;
                font-size: 0.7em;
                & li{
                    text-align: center;
                    margin: 0 0.5em;
                    @media (min-width: 576px) {
                        text-align: left;
                        margin: 0;
                    }
                }
                @media (min-width: 576px) {
                    display: block;
                    font-size: 1.1em;
                }
            }
            @media (min-width: 576px) {
                padding-left: 3rem;
            }
        }
        & .block-message{
            order: 0;
            @media (min-width: 576px) {
                order: 0;
            }
        }
        & .block-menu{
            order: 2;
            margin-top: 1em;
            @media (min-width: 576px) {
                order: 1;
                margin-top: 0;
            }
        }
        & .block-social{
            order: 1;
            @media (min-width: 576px) {
                order: 2;
            }
        }
        @media (min-width: 576px) {
            padding: 3rem 1rem;
        }
    }
    & .control-admin{
        position: fixed;
        bottom: 15%;
        right: 1%;
        background:transparent;
        border-radius: 75%;
        padding: 0.2em;
        z-index: 2;
        & .toggle-admin{
            background-color: $secondary-color;
            border-radius: 75%;
            z-index: 2;
            padding: 1.5em;
            width: 5em;
            height: 5em;
            border: 1px solid $secondary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            /* box-shadow: 0 4px 4px #aaa; */
            & i{
                color: white;
            }
            &:focus{
                outline: none;
            }
        }
        & .menu-admin{
            margin: 0;
            list-style: none;
            visibility: hidden;
            & .option-admin{
                position: absolute;
                background-color: $secondary-color;
                border-radius: 75%;
                padding: 0.6em;
                color: white;
                width: 4em;
                height: 4em;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease;
                bottom: 7%;
                right: 3%;
                & i{
                    color: white;
                }
            }
        }
        & .active.menu-admin{
            & .option-admin{
                visibility: visible;
                bottom: 8%;
                right: 1%;
                &:nth-of-type(1){
                    transform: translate(0em,-6em);
                }
                &:nth-of-type(2){
                    transform: translate(-4em,-5em);
                }
                &:nth-of-type(3){
                    transform: translate(-6em,-1.3em);
                }
                &:nth-of-type(4){
                    transform: translate(-5em,2.8em);
                }
            }
        }
        @media (min-width: 576px) {
            bottom: 8%;
        }
    }
}

.card-deck-projects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    .card-project{
        width:95%;
        margin:0;
        & .cont-img-top{
            width: 100%;
            height: 15em;
            overflow: hidden;
            & .card-img-top {
                width: 100%;
                height: 15em;
            }
        }
        & .card-body{
            height: 16em;
            & .card-title{
                overflow: hidden;
                height: 2.5em;
            }
            & .card-text{
                overflow: hidden;
                height: 6em;
            }
        }
        @media (min-width: 576px) {
            width: calc(94% / 3 );
            margin:0 1%;
        }
        @media (min-width: 800px) {
            width: calc(92% / 4 );
            margin:0 1%;
        }
    }
}

/* Page Home */

.page-home{
    & .image-landing {
        width: 100%;
        height: 39em;
        position: relative;
        /* background-color: #042145; */
        overflow: hidden;
        & img{
            
            height: 39em;
            position: absolute;
            z-index: -1;
            display: block;
            /* display: none; */
            @media (min-width: 576px) {
                height: auto;
                width: 100%;
            }
        }
        
        & .content-header{
            padding: 0 2em;
            width: 100%;
            & h1{
                font-size: 2.5rem;
                margin: 0;
                @media (min-width: 576px) {
                    font-size: 3.5rem;
                }
            }
            & p{
                font-size: 1.2rem;
            }
            @media (min-width: 576px) {
                padding: 0 5em;
                width: 50%;
            }
        } 
        @media (min-width: 576px) {
            height: 42em;
            background-color: transparent;
        }
    }
    & .block-what-i-do{
        padding: 0;

        & h2{
            margin:1em 0 0.5em;
            
        }
        & .list{
            list-style: none;
            & ul{
                list-style: none;
                padding: 0;
                & li{
                    margin-bottom: 0;
                }
            }
            & li{
                margin-bottom: 1em;
                & span{
                    &:nth-child(1){
                        color: black;
                        font-weight: bold;
                    }
                }
                &:nth-child(1){
                   & .block-list{
                       visibility: visible;
                       /* height: auto; */
                   } 
                }
                
            }
            & .block-list-toggle{
                &:hover{
                    cursor: pointer;
                } 
            }
            & .block-list{
                transition: height 1s ease-out;
                visibility: hidden;
                overflow: hidden;
                /* height: 0; */
            }
        }
        @media (min-width: 576px) {
            padding: 0 9.5em;
        }
    }
    
}

/* Page Projects */
.page-projects{
    & h1{
        font-size: 2.5em;
        @media (min-width: 576px){
            font-size: 4em;
            padding: 0 3em;
        }
    }
    & .group-categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        & .btn-categorie{
            background-color: white;
            border-radius: 30px;
            margin-bottom: 1em;
            box-shadow: 0 4px 4px #aaa;
        }
        @media (min-width: 576px){
            padding: 0 20%;
        }
    }
    & .nav-search{
        width: 100%;
        margin: 0 auto;
        & input{
            height: inherit;
        }
        & button{
            z-index: 1;
            & span{
                display: none;
                @media (min-width: 576px){
                    display: inline-block;
                }
            }
        }
        @media (min-width: 576px){
            width: 70%;
        }
    } 
    
}

/* Page Blog */
.page-blog{
    & .block-title{
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding-top: 5em;
        margin-top: 1em;
        & h1{
            margin: 0;
        }
        & img {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 34%;
            width: 100px;
            @media (min-width: 576px){
                left: 44%;
                width: auto;
            }
        }

    }
    & .swiper-container {
        width: 100%;
        height: 100%;
        & .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            height: 22em;
            width: 100%;
            & img{
                width: 100%;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0.6;
            }
            & h6{
                font-size: 2em;
                /* position: absolute;
                width: 100%;
                top: 45%; */
                color: white;
                & a{
                    color: white;
                }
                
            }
            & span{
                color: white;
            }
            & ::before{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background-color: rgba(0, 0, 0, 0.247);
            }
            @media (min-width: 576px){
                height: 35em;
                width: 600px;
            }
        }
    }
    
    & .nav-search{
        width: 100%;
        margin: 0 auto;
        & input{
            height: inherit;
        }
        & button{
            z-index: 1;
            & span{
                display: none;
                @media (min-width: 576px){
                    display: inline-block;
                }
            }
        }
        @media (min-width: 576px){
            width: 70%;
        }
    }
    & .main-section{
        & .post{
            display: flex;
            flex-wrap: wrap;
            padding: 1em 0em 1em;
            border-bottom: 1px solid gray;
            width: 100%;
            & .cont-text{
                padding-left: 0;
                margin-top: 1em;
                height: 100%;
                width: 100%;
                & span{
                    background-color: transparent !important;
                };
                & .post-title{
                    overflow: hidden;
                    height: 2.5em;
                    font-size: 2em;
                }
                & .post-content{
                    overflow: hidden;
                    height: 8em;
                }
                @media (min-width: 576px){
                    width: 65%;
                    padding-left: 2em;
                    margin-top: 0;
                }
            }
            & a{
                width: 100%;
                height: auto;
                @media (min-width: 576px){
                    width: 35%;
                }
                & img{
                    width: 100%;
                }
            }  
        }
        @media (min-width: 576px){
            padding-left: 2em;
        }
    }
    & .sub-section{
        display: none;
        & .most-seen{
            margin-bottom: 1em;
            & h6{
                background-color: $primary-color;
                color: white;
                font-size: 1.2em;
                padding: 0.5em 1em;
            }
            & .post-most-seen{
                width: 100%;
                display: flex;
                padding: 1em 0em 1em;
                & .cont-text{
                    height: 110px;
                    /* overflow: hidden; */
                    width: auto;
                    font-size: 0.9em;
                    margin-left: 1em;
                    & .delta-summary{
                        overflow: hidden;
                        height: 85%;
                    }
                    & span{
                        height: 15%;
                        background-color: transparent !important;
                    };
                }
                & img{
                    height: 110px;
                    width: auto;
                } 
            }
        }
        & .categories{
            & h6{
                background-color: $primary-color;
                color: white;
                font-size: 1.2em;
                padding: 0.5em 1em;
            }
            & ul{
                list-style: none;
                padding: 0;

                & li{
                    margin-bottom: 0.7em;
                    border-bottom: 1px solid white;
                }

            }
        }
        @media (min-width: 576px){
            padding-right: 2em;
            display: block;
        }
    } 
}

/* Page Contact */
.page-contact{
    & h1{
        font-size: 2.5em;
        @media (min-width: 576px){
            font-size: 4em;
        }
    }
    & .block-profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        & img {
            /* margin: 0 auto;
            display: block; */
            width: 7em;
            height: 7em;
        }
        & .cont-text{
            margin-top: 2em;
            padding: 0 2em;
            @media (min-width: 576px){
                padding: 0;
            }
        }
    }
    & .social{
        margin-top: 1em;
        display: flex;
        justify-content: center;
        & i{
            margin: 0 0.3em;
        }
    }

    & .form-contact{
        width: 90%;
        @media (min-width: 576px){
            width: 50%;
        }
    }
    
}

/* Single Project */
.page-single-project{
    & .block-title{
        & h1{
            font-size: 2.5rem;
            @media (min-width: 576px){
                font-size: 3.5rem;
            }
        }
        
    }
    & .block-info-header{
        & .info-links{
            display: flex;
            align-items: center;
            & .link{
                margin-right: 1em;
            }
        }
        & .info-date{
            &:hover{
                text-decoration: none;
            }
        }
    }
    & .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        & .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 200px;
            height: 200px;
            @media (min-width: 576px){
                width: 300px;
                height: 300px;
            }
        }
    }

    & .delta{
        & img{
            width: 100%;
            margin: auto;
            display: block;
            @media (min-width: 576px){
                width: auto;
            }
        }
    }
  
      
}

/* Post 5efaa8d122835f0007699dfa */
.project-5efaa8d122835f0007699dfa{
    
}

/* Page LogIn */
.page-log-in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 40em;
    & .block-info{
        width: 90%;
        padding: 2em 2em 0em 2em;
        height: auto;
        & .block-border{
            border: 1px solid white;
            padding: 2em;
            background-color: white;
            box-shadow: -5px 5px 5px #aaa;
            min-height: 12em;
            & .title{
                text-align: center;
            }
            & .text-error{
                margin-top: 1em;
                text-align: center;
                color: red;

            }
            @media (min-width: 576px){
                min-height: 16em;
            }
        }
        @media (min-width: 576px){
            width: 25%;
            padding: 2em 0em 2em 2em;
        }

    }
    & .block-form{
        width: 90%;
        box-shadow: 0px 5px 5px #aaaaaa;
        padding: 2em;
        min-height: 20em;
        @media (min-width: 576px){
            width: 30%;
        }
    }
    @media (min-width: 576px){
        min-height: 45em;
    }
}
    
  
  #form-group-new-password {
    display: none;
  }
  
  
  
  .preViewImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    min-height: 10em;
    & img {
        width: 6em;
        height: 6em;
        margin: 2em;
    }
  }
  .bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
/* Template post */

.page-single-post{
    & .block-title{
        & h1{
            font-size: 2.5rem;
            @media (min-width: 576px){
                font-size: 3.5rem;
            }
        }
        
    }
    & .block-info-header{
        & .info-date{
            &:hover{
                text-decoration: none;
            }
        }
    }
    & .block-content{
        & .delta.content{
            & span{
                background-color: transparent !important;
            }
        }
    }
}
  .editor{
    min-height: 20em;
  }
  
  .ck-content{
    min-height: 20em;
  }
  
  .row-main{
    margin-top: 2em;
  }
